name: Build workflow
run-name: Build workflow
on:
  push:
    #pull_request:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest # Maybe here is a blocker
    container:
      image: debian:bullseye
    defaults:
      run:
        shell: bash -le {0}
    env:
      PR_OWNER: ${{github.event.pull_request.head.repo.owner.login}}
      PR_USERNAME: ${{github.event.pull_request.user.login}}
      PR_REPONAME: ${{github.event.pull_request.head.repo.name}}
      PR_BRANCH: ${{ github.head_ref }}
      GITHUB_TOKEN: ${{ github.token }}
    permissions: write-all
    steps:
      - name: prepare
        run: |
          apt-get update
          apt-get -y dist-upgrade
          apt-get -y install locales build-essential gettext libpq5 libpq-dev make gcc git openssh-client curl wget sudo lsb-release socat redis-server cmake
          echo 'en_US.UTF-8 UTF-8' > /etc/locale.gen
          locale-gen
          if [[ '${{github.event_name}}' = 'pull_request' ]]
          then
            BRANCH='${{ github.head_ref }}'
          else
            BRANCH='${{ github.ref_name }}'
          fi
          if [[ ! $BRANCH =~ perl-[0-9]+\.[0-9]+\.[0-9]+ ]]; then
              echo "Error: Branch name must be perl-<version>"
              exit 1
          fi
          VERSION=$(echo $BRANCH | sed -e 's/.*perl-\([0-9]*\.[0-9]*\.[0-9]*\).*/\1/')

          echo "VERSION=$VERSION" | tee -a $GITHUB_ENV 
          git config --global user.email "chylli@deriv.com"
          git config --global user.name "Chylli"
          git config --global --add safe.directory $PWD # ignore ownership problem
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 #v4
      - name: compile
        run: |
          #bash ./rebuild.sh
      - name: push
        run: |
          git remote -v
          git commit --allow-empty -m "rebuild $VERSION [ci skip]";
          git checkout -b $PR_OWNER/$PR_BRANCH # TODO move it to env
          #git remote add $PR_OWNER https://github.com/$PR_OWNER/$PR_REPONAME
          #git push $PR_OWNER $PR_BRANCH
          git push https://oauth2:$GITHUB_TOKEN@github.com/chylli-team/$PR_REPONAME HEAD:$PR_BRANCH

